:root {
/* MARGINS */
  --margin: 1.2vw;
  --button-margin: var(--margin) calc(var(--margin)*2) var(--margin) calc(var(--margin)*2);
  --header-padding: calc(var(--margin)/4) var(--margin) calc(var(--margin)/2) var(--margin);
  --xlarge-text: 5vw;
  --large-text: 1.2vw;
  --medium-text: 0.9vw;
  --small-text: 0.7vw;

  --grey: #E0E0E0;
  --dark-grey: #585858;
  --white: #F8F8F8;

  --main-column: 58.3333333333vw;
  /* --minor-column: 41.6666666667vw; */
  /* --minor-column: 40.6666666667vw; */
  --minor-column: 40.6666666667vw;
}

/* GENERAL */

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-width: 100vw;
    max-height: 100vh;
    font-family: 'source-code-pro';
    box-sizing: border-box;
}

div {
  box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: var(--white);
}

#header {
  display: flex;
  position: fixed;
  top: 0; left: 0; right: 0;
  justify-content: center;
  column-gap: 22vw;
  /* justify-content: space-between; */
  z-index: 30;
  padding: var(--header-padding);
  line-height: 1.3em;
  background: linear-gradient(180deg, #ebeaea 75%, rgba(255, 255, 255, 0) 100%);
  /* color: var(--dark-grey); */
  font-size: var(--medium-text);
  transition: top 1s;
  /* font-style: italic; */
}

#header span:hover {
  cursor: pointer;
  color: black;
}

#headline-section {
  display: inline-flex;
  position: relative;
  font-size: var(--medium-text);
  justify-content: space-around;
  row-gap: 3vw;
  padding: 4.3vw var(--margin) 4vw var(--margin);
  /* padding: 3vw var(--margin) 3vw var(--margin); */
  flex-wrap: wrap;
  text-align: center;
  color: var(--dark-grey);
}

#big-title {
  display: inline-block;
  text-align: center;
  font-size: var(--xlarge-text);
  font-family: "source-serif-pro";
  text-align: center;
  width: 100%;
  color: black;
  line-height: 1em;
  padding-right: calc(2* var(--margin) / 3);
  z-index:15;
}

.layout-column {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow-x: hidden;
  padding-bottom: var(--margin);
  position: relative;
  transition: max-width 1s;
}

.layout-column::-webkit-scrollbar {
  display: none;
}

#text-column {
  display: inline-block;
  /* max-width: 33.3333333333vw; */
  max-width: var(--minor-column);
  /* max-width: 40vw; */
}

#text-container {
margin-bottom: var(--margin);
}

#images-column {
display: inline-block;
background: var(--white);
/* max-width: 66.6666666667vw; */
max-width: var(--main-column);
/* max-width: 60vw; */
padding-top: 1.5vw;
/* padding-top: calc(var(--margin) + 1.5vw); */
    line-height: 1.4em;
    font-family: 'source-code-pro';
    /* padding-right: calc(2* var(--margin) / 3); */
}

/* #images-container {
  margin-bottom: 3vw;
} */

#graph-column {
  background: #F8F8F8;
    /* width: 8.33333333333vw; */
    width: 1vw;
    overflow: hidden;
    z-index:40;
}

/* TEXT */

.page {
    /* display: flex; */
    /* flex-direction: row; */
    overflow: hidden;
    height: auto;
    transition: max-height 1s;
    max-height: 200vh;
    padding-right:var(--margin);
    padding-left:calc(2*var(--margin)/3);
    transition: max-height 1s;
    /* background: linear-gradient(180deg, #F8F8F8 66.83%, #BEBEBE 100%); */
    /* background: linear-gradient(180deg, #BEBEBE 0%, #F8F8F8 10%, #F8F8F8 90%, #BEBEBE 100%); */
  }

.page-number {
  /* display:inline-block; */
    /* min-width: 2.33333333333vw; */
    min-width: 8vw;
    /* max-width: 2.33333333333vw; */
    /* border: solid; */
    display: inline-block;
    text-align: center;
    /* transform: translate(-100%, 0); */
}

.page-content {
    /* padding: var(--margin); */
    /* width: auto; */
    overflow: auto;
    /* display: inline-block; */
    width: 39vw;
    /* padding-right: 7vw; */
}

.chrono-link, .filter-link {
  cursor: pointer;
}


.dot {
    height: var(--large-text);
    width: var(--large-text);
    border-radius: 50%;
    display: inline-block;
    background-color: var(--grey);
    vertical-align: top;
    text-align: center;
    font-family: 'source-code-pro';
    color: var(--grey);
    text-transform: uppercase;
    font-size: var(--small-text);
    line-height: var(--large-text);
    margin-left: calc(var(--margin)/2);
    cursor: pointer;
    color: black;
}

.dot.active, .active .dot, .page .dot:hover{
    /* background-color: var(--orange); */
    background-color: black;
    color: var(--white);
}

/* .frame.disconnected {
  max-height: 10px;
} */

.dot.disconnected {
  background: none;
  border: solid black 1.5px;
  color: black;
}

/* IMAGES COLUMN */
/* .midi .outer-frame {
  max-height: 100vh;
} */

.frame-container {
  position: relative;
  /* max-height: 93vh; */
  max-height: 98vh;
  transition: max-height 1s, width 1s;
  /* padding: var(--margin) 0 0 var(--margin); */
  /* padding-top: var(--margin); */
  overflow: hidden;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  row-gap: calc(var(--margin) * 2 / 3);
  height: min-content;
}

.outer-frame {
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  /* column-gap: calc(2 * var(--margin) / 3); */
  /* flex: 1 0 auto; */
  padding-right: calc(2* var(--margin) / 3);
  z-index: 0;
  padding-left: var(--margin) 0 0 var(--margin);
}

.frame {
    display: inline-flex;
    flex-direction: column;
    flex: 1 0 auto;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    scroll-snap-align: start;
    /* row-gap: calc(2*var(--margin)/3); */
    overflow: hidden;
    padding: var(--margin) 0 0 var(--margin);
}

.img-container {
  display: inline-flex;
  align-items: center;
  /* justify-content: center; */
  /* overflow: hidden; */
  /* flex: 1 0 auto;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%; */
}

.img-container img {
  max-width: 100%;
  max-height: 100%;
  width: auto; /* Allow width to scale */
  height: 100%; /* Ensure height takes full container height */
  object-fit: contain; /* Ensure image is fully visible */
  box-sizing: border-box;
  display: block;
}

.metadata-layout {
  column-count: 2;
  column-gap: 1em;
  font-size: var(--small-text);
  line-height: var(--medium-text);
  color: var(--dark-grey);
  /* padding-right: 8em !important; */
  position: relative;
  /* padding-left: var(--margin); */
  padding-left: 2vw;
}

/* .frame div {
  padding-right: calc(2*var(--margin)/3);
} */

.outer-frame::-webkit-scrollbar {
display: none;
}

.title-row {
/* display: inline-flex; */
/* justify-content: space-between; */
/* padding-left: 2em; */
font-size: var(--medium-text);
line-height: 1em;
/* flex: 0 1 auto; */
text-transform: uppercase;
/* column-gap: var(--margin); */
z-index: 20;
padding-right: calc(2* var(--margin) / 3);
padding-top: 1em;
padding-bottom: 0.7em;
/* align-items: flex-end; */
padding-left: 2vw;
}

.title {
  /* max-width: 60%; */
  text-wrap: balance;
}

.scroll-handles {
  color: var(--dark-grey);
  position: absolute; bottom: 0;
  font-size: var(--small-text);
  /* right: var(--margin); */
  padding-right: calc(var(--margin)/1.5);
  padding-left: calc(var(--margin)/1.5);
  z-index: 11;
  right: 0;
  bottom: var(--margin);
  transition: opacity linear 1s;
  /* margin-top: 2.5em; */
  /* background-color: var(--white); */
  background: linear-gradient(90deg, rgba(248, 248, 248, 0) 0%, var(--white) 30%);
  /* font-size: var(--medium-text); */
}

.arrow {cursor:pointer}
.arrowleft {display: none}

/* HIDDEN STUFF */
.page.hidden {
background: linear-gradient(180deg, #212121 78.12%, rgba(0, 0, 0, 0.00) 100%);
max-height: 1em;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
cursor: pointer;
margin-bottom: 0.5em;
/* padding: 0.5em 0em 0.5em 0em; */
}

.page.hidden .selectable, .page.hidden .filter-link {
  background: none;
}

.page.hidden:hover {max-height: 1.5em}

.frame-container .dot {
  position: absolute;
  bottom: var(--margin);
  left: calc(var(--margin) / 2);
  /* margin-top: 2.5em; */
}

.frame-container.hidden {
max-height: 2vw;
cursor: pointer;
overflow: hidden;
/* background: linear-gradient(90deg, #212121 70%, rgba(0, 0, 0, 0.00) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */
}

.corner-sfumato {
  z-index: 20;
  display: none;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: linear-gradient(180deg, rgba(248, 248, 248, 0) 70%, var(--white) 95%);
}

.hidden .corner-sfumato {
  display: block;
}

.hidden .scroll-handles {
  opacity: 0;
}

.hidden:hover .scroll-handles {
  opacity: 1;
}

.sfumatura-sinistra {
  position: absolute;
  top: 0; left: 0; bottom: 0;
  width: 5vw;
  background: linear-gradient(270deg, rgba(248, 248, 248, 0) 70%, var(--white) 95%);
  z-index: 10;
}

.sfumatura-destra {
  position: absolute;
  top: 0; right: 0; bottom: 0;
  width: 5vw;
  background: linear-gradient(90deg, rgba(248, 248, 248, 0) 70%, var(--white) 95%);
  z-index: 10;
}

.frame-container.hidden .frame {
  overflow: hidden;
}

.frame-container.hidden:hover {
  max-height: 5em;
}


/* FILTER LINKS */
/* .page .filter-link:hover, .page .filter-link.selectable { */
.filter-link {
  background: linear-gradient(var(--grey) 0 0);
  background-position: center;
  background-repeat: no-repeat;
  color: black;
}

.filter-link.animated {
  animation-name: filteranimation;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes filteranimation {
  0% {background: var(--white); color: black; background-size: auto calc(var(--large-text)*0.9);}
  100% {background: black; color: var(--white); background-size: auto calc(var(--large-text)*0.9);}
}

.page .filter-link {
  background-size: auto calc(var(--large-text)*0.9);
}

.page .filter-link.selected, .page .filter-link:hover {
  background-size: auto calc(var(--large-text)*1.2);
}

.frame .filter-link, .frame .filter-link.selected, .frame .filter-link:hover {
  background-size: auto var(--small-text);
}

.filter-link.selected, .filter-link:hover {
  color:var(--white);
  background: linear-gradient(black 0 0);
  background-position: center;
  background-repeat: no-repeat;
}

#selection-indicator {
position: fixed;
/* margin: var(--margin); */
/* margin: var(--header-padding); */
bottom: 0;
/* color: white; */
font-size: var(--medium-text);
/* left: 35vw; width: 30vw; */
left: var(--margin);
white-space: nowrap;
display: none;
font-size: var(--medium-text);
flex-direction: column;
font-size: var(--small-text);
    line-height: 1;
    font-family: 'source-code-pro';
z-index:50;
}

#name-selection {
text-transform: uppercase;
cursor: pointer;
font-size: var(--medium-text);
/* background: #ebeaea!Important; */
padding: calc(var(--margin)/4) calc(var(--margin)/2) 0 calc(var(--margin)/2)!Important;
border-radius: 0.6em 0.6em 0 0!Important;
z-index:60;
}

/* #name-selection, #selection-counter-photo, #selection-counter-text { */
  #selection-indicator div {
  /* background-color: var(--grey); */
  border-radius: 0 0.6em 0 0;
  /* padding: 0.2vw 0.5vw 0.1vw 0.5vw; */
  padding: var(--header-padding);
  padding: calc(var(--margin)/2) calc(var(--margin)/2) calc(2*var(--margin)/3) calc(var(--margin)/2);
  /* background: linear-gradient(180deg, #ebeaea 20%, var(--white) 100%); */
  background: black; color: white;
  /* border: solid white 0.2px; */
  display: inline-block;
  width: min-content;
}

#filter-highlighter {
  right: 0;
  display: flex;
}

/* #filter-highlighter input, #filter-highlighter label, #filter-highlighter span, #selection-indicator {
  padding: 0.3em 0.6em 0.3em 0.6em
} */


/* NOTES */
#notes-container {
  font-family: 'source-code-pro';
  font-size: var(--small-text);
  position: fixed;
  bottom: -10vh;
  /* left: 41.6666666667vw;
  width: 58.3333333333vw; */
  width: 49vw;
  left: var(--main-column);
  /* max-height: 5vh; */
  padding: calc(var(--margin)*2) calc(2*var(--margin)/3) var(--margin) var(--margin);
  background: linear-gradient(rgba(248, 248, 248, 0) 0%, var(--white) 30%);
  column-count: 2;
  column-gap: 20px;
  transition: bottom 1s;
  vertical-align: text-bottom;
}

#notes-container.shown {
  bottom: 0vh;
}

/* TYPOGRAPHY */
.page {
  font-family: "source-serif-pro";
  font-weight: 400;
  overflow: hidden;
  height: auto;
  white-space: pre-wrap;
  font-size: var(--large-text);
  line-height: 1.3em;
}

.page-number {
  font-family: 'source-code-pro';
color: var(--dark-grey);
text-transform: uppercase;
font-size: var(--small-text);
}

.hidden .page-number {-webkit-text-fill-color: var(--dark-grey)}

.note {
  display: inline-block;
  vertical-align:top;
  text-align: center;
  font-family: 'source-code-pro';
  font-size: var(--small-text);
  line-height: var(--medium-text);
  transform:translate(0, 20%);
  /* margin-left: calc(var(--margin)/2); */
  cursor: pointer;
}

#overlay {
  font-size: var(--xlarge-text);
  line-height: 1;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: var(--white);
  font-family: 'source-serif-pro';
  position: fixed;
  z-index:20;
  display: flex;
  align-items: center;
  text-align: center;
  font-style: italic;
  opacity: 1;
  transition: opacity 1.5s ease;
}

#overlay.removed {
  opacity: 0;
}

#overlay.removed span {
  opacity: 0;
  animation-play-state: paused;
}

#overlay span {
  text-align: center;
  width: 100%;
  animation-name: overlayanimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  opacity: 1;
  transition: opacity 1s ease;
}

@keyframes overlayanimation {
    0% {opacity: 0%};
    100% {opacity: 100%}
}
