:root {
/* MARGINS */
  --margin: 0.5vw;
  --button-margin: var(--margin) calc(var(--margin)*2) var(--margin) calc(var(--margin)*2);
  --font-size: 1.2vw;

  --grey: #E0E0E0;
  --white: #FBFBFB;
  --orange: #FF5C00;

  --border: solid 1px;
}

/* FONT */
/* @font-face {
  font-family: "Suisse Intl Mono";
  src: url("font/SuisseIntlMono-Regular.otf");
  font-weight:normal;
  font-style: normal;
  } */

body {
  display: flex;
  margin: 0;
  width: 100%;
  max-height: 100vh;
  background-color: var(--white);
  overflow: hidden;

  font-family: "Arial";
  font-size: var(--font-size);
  line-height: 1.4em;
}

a {
  color: black;
}

a:hover, a:focus, a:checked {
  color: black;
  text-decoration: underline;
}

#left-side, #right-side {
padding: calc(var(--margin)*2);
height: 100vh;
overflow-y: auto;
overflow-x: hidden;
}

svg {width: 0.8em; height: 0.8em;}


/* RIGHT SIDE */

.chrono-link, .person-link, .place-link, .keyword-link {cursor: pointer}

/* .chrono-link {  color: red } */
/* .person-link {  color: blue }
.place-link {  color: green }
.keyword-link {  color: orange } */

.page {
  overflow: hidden;
  white-space: pre-line;
  transition: max-height 1s;
  width: 100%;
  display: flex;
  max-height: 1000px;
}

.page p {
  margin: 0!important;
}

p {
  display: inline-block;
  width: 41.666667vw;
}

.page.hidden {
max-height: 1em;
background: linear-gradient(180deg, #212121 78.12%, rgba(0, 0, 0, 0.00) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
cursor: pointer;
margin: 0.5em 0em 0.5em 0em;
}

.page.hidden:hover {max-height: 1.5em}

/* PAGE NUMBER */
.page-number {
  display: inline-block;
  width: 8.333333vw;
  font-size: 0.7em;
}

.filter-link.selected, .filter-link.selected:hover, .filter-link.selectable.selected {
  color: white;  background-color: black;
}

.filter-link:hover, .filter-link.selectable {
  background-color: var(--grey);
  color: black;
}

#filter-highlighter, .selection-indicator {
  background-color: black;
  color: white;
  position: fixed;
  border-radius: 0.6em;
  font-size: 0.8em;
  display: inline-block;
}

#filter-highlighter {
  position: fixed;
  display: flex;
  bottom: 0; right: 0;
  margin: var(--margin);
}

#selection-indicators-container {
  position: fixed;
  display: flex;
  bottom: var(--margin); left: 50vw;
  margin: var(--margin);
  /* border: solid; */
  height:1.4em;
}

#filter-highlighter input, #filter-highlighter label, #filter-highlighter span, .selection-indicator {
  padding: 0.3em 0.6em 0.3em 0.6em
}

.selection-indicator {cursor: pointer; position: relative}



/* GRAPH */
#graph-container {
  padding: 0;
}



/* LEFT SIDE */
#left-side::-webkit-scrollbar {
  display: none;
}

#left-side {
  color: var(--white);
}

img {
  padding: var(--margin);
}

.frame circle {fill: white}
.page svg {transform: translate(0, -10%);}
.page circle {fill: black; r: 48%}
.highlighted circle {fill: var(--orange)}
.not-connected circle {fill: transparent; stroke: white; stroke-width: 6%; r: 47%}


.frame {padding-bottom: 1em}

/* OPZIONE 1 NOT CONNECTED */
.not-connected {
max-height: 2em;
cursor: pointer;
transition: max-height 1s;
object-fit: cover;
overflow: hidden;
}

.not-connected:hover {max-height: 4em}

/* PHOTO DESCRIPTION */

.first-col {width: 10%}
.second-col, .third-col {width: 45%}

.frame p {
  font-size: 0.7em;
  margin: 0; padding: 0;
}
