:root {
/* MARGINS */
  --margin: 0.5vw;
  --button-margin: var(--margin) calc(var(--margin)*2) var(--margin) calc(var(--margin)*2);
  --font-size: 1.2vw;

  --grey: #E0E0E0;
  --grey-on-black: #767676;
  /* --grey: rgba(0,0,0, 0.1); */
  /* --grey-on-black: rgba(255,255,255, 0.1); */
  --white: #FBFBFB;
  --orange: #FF5C00;

  --border: solid 1px;
}

/* FONT */
/* @font-face {
  font-family: "Suisse Intl Mono";
  src: url("font/SuisseIntlMono-Regular.otf");
  font-weight:normal;
  font-style: normal;
  } */

body {
  display: flex;
  margin: 0;
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  background-color: var(--white);
  overflow: hidden;

  font-family: "Arial";
  font-size: var(--font-size);
  line-height: 1.4em;
}

a {
  color: black;
}

a:hover, a:focus, a:checked {
  color: black;
  text-decoration: underline;
}

#left-side, #right-side {
padding: calc(var(--margin)*2);
height: 100vh;
overflow-y: auto;
overflow-x: hidden;
}


svg {width: 0.8em; height: 0.8em;
  /* transform: translate(0, -10%); */
}
/* circle {radius: 49%} */
.frame .circle-container {margin-right: 1em}
.frame circle {fill: white}
.page circle {fill: black;}
.highlighted circle {fill: var(--orange)}
.not-connected circle {fill: transparent; stroke: white; stroke-width: 8%; r: 46%}


/* RIGHT SIDE */

.chrono-link, .person-link, .place-link, .keyword-link {cursor: pointer}

/* .chrono-link {  color: red } */
/* .person-link {  color: blue }
.place-link {  color: green }
.keyword-link {  color: orange } */

.page {
  overflow: hidden;
  white-space: pre-line;
  transition: max-height 1s;
  width: 100%;
  display: flex;
  max-height: 1000px;
}

.page p {
  margin: 0!important;
  display: inline-block;
  width: 41.666667vw;
}

.page.hidden {
max-height: 1em;
background: linear-gradient(180deg, #212121 78.12%, rgba(0, 0, 0, 0.00) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
cursor: pointer;
margin: 0.5em 0em 0.5em 0em;
}

.page.hidden .selectable, .page.hidden .filter-link {
  background: none
}

.page.hidden:hover {max-height: 1.5em}

/* PAGE NUMBER */
.page-number {
  display: inline-block;
  width: 8.333333vw;
  font-size: 0.7em;
}


/* #filter-highlighter, #selection-indicators-container {
  position: fixed;
  display: flex;
  bottom: var(--margin);
  color: white;
  font-size: 0.8em;
}

#filter-highlighter, .selection-indicator {
margin: var(--margin) var(--margin) 0 var(--margin);
background-color: black;
border-radius: 0.6em;
}

#selection-indicators-container {
  left: 50vw;
}

.selection-indicator {
  cursor: pointer;
  display: inline-flex;
  white-space: nowrap;} */

#filter-highlighter, #selection-indicator {
position: fixed;
margin: var(--margin);
background-color: black;
border-radius: 0.6em;
bottom: 0;
color: white;
font-size: 0.8em;
}

#selection-indicator {
  left: 50vw;
  cursor: pointer;
  white-space: nowrap;
  display: none;
}

#filter-highlighter {
  right: 0;
  display: flex;
}

#filter-highlighter input, #filter-highlighter label, #filter-highlighter span, #selection-indicator {
  padding: 0.3em 0.6em 0.3em 0.6em
}



/* GRAPH */
#graph-container {
  padding: 0;
}


/* LEFT SIDE */
#left-side::-webkit-scrollbar {
  display: none;
}

#left-side {
  color: var(--white);
}

img {
  padding: var(--margin);
}


.frame {
padding: 0.5em 0 1.5em 0;
transition: max-height 1s;
max-height: 200vh;
overflow: hidden;
}

.frame.hidden .photo-title, .not-connected .photo-title{cursor: pointer}

.frame img {
object-fit: cover;
object-position: top;
padding: 1em 0em 1em 0em;
}

.frame.hidden {
max-height: 1.7em;
/* background: linear-gradient(180deg, #ffffff 60%, #000000 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */
cursor: pointer;
}

.frame.hidden:hover {
  max-height: 3em
}



/* PHOTO DESCRIPTION */
.photo-title {display: flex}
.info-col, .title-col, .circle-container {display: inline-block;}
.photo-details {
  display: flex;
flex-wrap:wrap;
align-items: start;
}
.photo-details .info-col {
  box-sizing: border-box;
  width: 50%;
}


#left-side {
font-size: 0.7em;
line-height: 125%
}
.frame p {  margin: 0; padding: 0;}


/* FILTER LINKS */
.filter-link {
  border-radius: 0.4em;
}

/* .page .filter-link:hover, .page .filter-link.selectable { */
.page .filter-link {
  background-color: var(--grey);
  color: black;
  padding: 0.1em 0.2em 0.1em 0.2em;
}

.page .filter-link.selected, .page .filter-link.selected:hover, .page .filter-link.selectable.selected {
  color: white;
  background-color: black;
}


.frame .filter-link {
  background-color: var(--grey-on-black);
  color: black;
  padding: 0.1em 0.2em 0.1em 0.2em;
  display: inline-block;
}

.frame .filter-link.selected, .frame .filter-link:hover {
  background-color: white;
}
