:root {
/* MARGINS */
  --margin: 1.1vw;
  --button-margin: var(--margin) calc(var(--margin)*2) var(--margin) calc(var(--margin)*2);
  --large-text: 1.4vw;
  --medium-text: 1vw;
  --small-text: 0.8vw;

  --grey: #E0E0E0;
  --grey-on-black: #767676;
  /* --grey: rgba(0,0,0, 0.1); */
  /* --grey-on-black: rgba(255,255,255, 0.1); */
  --white: #F8F8F8;
  --orange: #FF5C00;
  --brown: #A49686;
  /* --orange: #EFEE3D; */
}

/* GENERAL */

body, html {
    /* height: auto; */
    /* min-height: 100%; */
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-width: 100vw;
    max-height: 100vh;
    font-family: source-code-pro
    /* transform: translate(17%, 0); */
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: var(--white);
}

#headline-section {
  display: inline-flex;
  font-size: var(--medium-text);
  width: 100%;
  justify-content: space-around;
  padding: 0 var(--margin) 2vw 0;
  row-gap: var(--medium-text);
  flex-wrap: wrap;
  text-align: center;
  color: var(--grey);
  transition: font-size 1s, row-gap 1s
  ;
}

/* #headline-section div {
  border: solid;
} */

#big-title {
  display: inline-block;
  text-align: center;
  font-size: 3vw;
  font-family: "source-serif-pro";
  /* font-family: "rhetorik"; */
  text-align: center;
  width: 100%;
  color: black;
}

.layout-column {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow-x: hidden;
  padding-bottom: var(--margin);
  position: relative;
  transition: max-width 1s;
}

.layout-column::-webkit-scrollbar {
  display: none;
}

#text-column {
  display: inline-block;
  padding: var(--margin) 0 var(--margin) 0;
}

#images-column {
display: inline-block;
background: var(--white);
}

.layout-column.mini {
/* min-width: 33.3333333333vw; */
max-width: 33.3333333333vw;
}

.layout-column.midi {
/* min-width: 50vw; */
max-width: 50vw;
}

.layout-column.maxi {
/* min-width: 66.6666666667vw; */
max-width: 66.6666666667vw;
}

.reduceaugment {position: fixed; bottom: var(--margin);
font-size: 3vw;
background-color: var(--grey);
    height: 3vw;
    width: 3vw;
    line-height: 3vw;
    text-align: center;
    font-weight: 200;
    font-family: "source-serif-pro";
    border-radius: 50%;
    cursor: pointer;
  }

#images-column .reduceaugment {transition: left 1s;}
#text-column .reduceaugment {transition: right 1s;}

.midi .reduceaugment .minusbtn, .mini .reduceaugment .minusbtn {display: none}
.maxi .reduceaugment .plusbtn {display: none}

.minusbtn {line-height: 2vw}

#images-column.midi .reduceaugment {left: 46.8vw}
#text-column.midi .reduceaugment {right: 46.8vw}

#images-column.maxi .reduceaugment {left: 63.2vw}
#text-column.maxi .reduceaugment {right: 63.2vw}

#images-column.mini .reduceaugment {left: 29.9vw}
#text-column.mini .reduceaugment {right: 29.9vw}

#graph-column {
  background: #F8F8F8;
    width: 8.33333333333vw;
    overflow: hidden;
    /* transform: translate(15%, 0); */
    /* width: 8.33333333333vw; */
    /* background: red; */
}

/* TEXT */

.page {
    /* display: flex; */
    /* flex-direction: row; */
    overflow: hidden;
    height: auto;
    transition: max-height 1s;
    max-height: 200vh;
    padding: 0 5vw 0 var(--margin);
    transition: padding 1s;
    /* background: linear-gradient(180deg, #F8F8F8 66.83%, #BEBEBE 100%); */
    /* background: linear-gradient(180deg, #BEBEBE 0%, #F8F8F8 10%, #F8F8F8 90%, #BEBEBE 100%); */
  }

.midi .page {
padding: 0 5vw 0 var(--margin);
}

.mini .page {
padding: 0 var(--margin) 0 var(--margin);
}


.maxi .page {
padding: 0 5vw 0 6vw;
font-size: calc(var(--large-text)*1.1);
}
.maxi .page-number {
  font-size: var(--medium-text);
}

.maxi #headline-section {
  font-size: var(--medium-text);
  row-gap: var(--large-text);
}
/* p {margin: none!important} */

.page-number {
  /* display:inline-block; */
    /* min-width: 2.33333333333vw; */
    min-width: 8vw;
    /* max-width: 2.33333333333vw; */
    /* border: solid; */
    display: inline-block;
    text-align: center;
    /* transform: translate(-100%, 0); */
}

.page-content {
    /* padding: var(--margin); */
    /* width: auto; */
    overflow: auto;
    /* display: inline-block; */
    width: 39vw;
    /* padding-right: 7vw; */
}

.chrono-link, .filter-link {
  cursor: pointer;
}


.dot {
    height: var(--large-text);
    width: var(--large-text);
    border-radius: 50%;
    display: inline-block;
    background-color: var(--grey);
    vertical-align: top;
    text-align: center;
    font-family: source-code-pro;
    color: var(--grey);
    text-transform: uppercase;
    font-size: var(--small-text);
    line-height: var(--large-text);
    margin-left: calc(var(--margin)/2);
    cursor: pointer;
    color: black;
}

.dot.active, .active .dot{
    /* background-color: var(--orange); */
    background-color: black;
    color: var(--white);
}

/* .frame.disconnected {
  max-height: 10px;
} */

.dot.disconnected {
  background: none;
  border: solid black 1.5px;
  color: black;
}

/* IMAGES COLUMN */
.midi .outer-frame {
  max-height: 100vh;
}
.outer-frame {
height: auto;
/* max-height: 100vh; */
width: 100%;
margin: 0; padding: 0;
overflow-y: auto;
overflow-x: auto;
scroll-snap-type: x mandatory;
-ms-overflow-style: none;
display: flex;
flex-wrap: nowrap;
transition: max-height 1s, width 1s;
}

.outer-frame::-webkit-scrollbar {
display: none;
}

.midi .frame {
max-height: 100vh;
}
.frame {
  /* margin: 0; */
  /* padding: var(--margin); */
  overflow: hidden;
  /* min-width:31.4vw;
  max-width:31.4vw; */
  min-width: 100%;
  max-width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  /* justify-content: space-between; */
  scroll-snap-align: start;
  /* height: 95vh; */
  /* max-height: 100vh; */
  row-gap: var(--margin);
  padding-bottom: var(--margin);
  transition: max-height 1s, width 1s;
}

.title-bar {
display: inline-flex;
padding: var(--margin) 0 0 calc(var(--margin)*3);
/* justify-content: space-between; */
}

.title {
text-transform: uppercase;
font-size: var(--medium-text);
}

.info-btn {
  text-align: center;
  float: right;
  font-family: source-serif;
  font-style: italic;
  font-size: var(--medium-text);
  line-height: var(--large-text);
  margin-left: calc(var(--margin)/2);
  cursor: pointer;
  color: black;
}

.info-btn .meno {display: none}
.showninfo .info-btn .meno {display: block}
.showninfo .info-btn .piu {display: none}

.midi .img-container {
max-width: 48vw;
max-height: 100%;
}

.img-container {
  display: inline-flex;
  flex-wrap: nowrap;
  padding-left: var(--margin);
  /* width: 100%; */
  /* height: 100%; */
  align-items: center;
  justify-content: center; /* Center the image horizontally and vertically */
  text-align: center;
  position: relative; /* Added */
  overflow: hidden; /* Added */
  transition: max-width 1s, width 1s;
}

.img-container img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.metadata-layout {
display: none;
column-count: 2;
/* overflow: hidden; */
column-gap: 0.5em;
max-height: 0px;
width: 100%;
font-size: var(--small-text);
padding: 0 var(--margin) 0 var(--margin);
line-height: var(--medium-text);
transition: max-height 1s;
/* font-family: "source-serif-pro"; */
}

.showninfo .metadata-layout {
display: inline-block;
max-height: 50vh;
}


/* HIDDEN STUFF */
.page.hidden {
background: linear-gradient(180deg, #212121 78.12%, rgba(0, 0, 0, 0.00) 100%);
max-height: 1em;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
cursor: pointer;
margin: 0.5em 0em 0.5em 0em;
}

.page.hidden .selectable, .page.hidden .filter-link {
  background: none;
}

.page.hidden:hover {max-height: 1.5em}

.midi .frame-container {
max-height: 100vh;
}
.frame-container {
position: relative;
/* max-height: 100vh; */
transition: max-height 1s;
}

.frame-container .dot {
  position: absolute;
  top: var(--margin);
  left: calc(var(--margin) / 2);
}

.frame-container .arrow {
  position: absolute; top: var(--margin); right: var(--margin);
}

.hidden .arrow {  display: none; }
.hidden .info-btn {  display: none; }

/* .hidden .arrow {
  display: none;
} */

.frame-container.hidden {
max-height: 2em;
cursor: pointer;
overflow: hidden;
}

.frame-container.hidden .title-bar {
background: linear-gradient(180deg, #212121 60%, rgba(0, 0, 0, 0.00) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.hidden .dot {
background: linear-gradient(180deg, var(--grey) 60%, rgba(0, 0, 0, 0.00) 100%);
}

.frame-container.hidden.disconnected .dot {
background: linear-gradient(180deg, #212121 60%, rgba(0, 0, 0, 0.00) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.frame-container.hidden .frame {
  overflow: hidden;
}

.frame-container.hidden:hover {
  max-height: 5em;
}


/* FILTER LINKS */
.images-container {
  /* border-radius: 0.4em; */
  cursor:pointer;
  /* font-family: source-code-pro; */
}

/* .page .filter-link:hover, .page .filter-link.selectable { */
.filter-link {
  background: linear-gradient(var(--grey) 0 0);
  background-size: auto calc(var(--large-text)*0.9);
  background-position: center;
  background-repeat: no-repeat;
  color: black;
}

.filter-link.selected, .filter-link:hover, .page .filter-link.selectable.selected {
  color:var(--white);
  background: linear-gradient(black 0 0);
  background-size: auto calc(var(--large-text)*0.9);
  background-position: center;
  background-repeat: no-repeat;
}

#filter-highlighter, #selection-indicator {
position: fixed;
margin: var(--margin);
background-color: black;
border-radius: 0.6em;
bottom: 0;
color: white;
font-size: var(--medium-text);
}

#selection-indicator {
  left: 49vw;
  cursor: pointer;
  white-space: nowrap;
  display: none;
  font-size: var(--medium-text);
}

#name-selection {
text-transform: uppercase;}

#filter-highlighter {
  right: 0;
  display: flex;
}

#filter-highlighter input, #filter-highlighter label, #filter-highlighter span, #selection-indicator {
  padding: 0.3em 0.6em 0.3em 0.6em
}


/* NOTES */
#notes-container {
  font-family: "Rhetorik";
  font-size: var(--small-text);
  position: fixed;
  bottom: -10vh;
  /* left: 41.6666666667vw;
  width: 58.3333333333vw; */
  width: 50vw;
  left: 50vw;
  height: 5vh;
  padding: var(--margin);
  background: linear-gradient(180deg, rgba(248, 248, 248, 0) 0%, var(--white) 50%);

    column-count: 3; /* Set the number of columns */
    column-gap: 20px; /* Set the gap between columns */
    transition: bottom 1s;
}

#notes-container.shown {
  bottom: 0vh;
}

/* TYPOGRAPHY */
.page {
  font-family: "source-serif-pro";
  font-weight: 400;
  overflow: hidden;
  height: auto;
  white-space: pre-wrap;
  font-size: var(--large-text);
  line-height: 1.3em;
}

/* .midi .page {
font-size: var(--large-text);
line-height: 1.3em;}

.mini .page {
font-size: var(--medium-text);
line-height: 1.3em;} */

.page-number {
  font-family: source-code-pro;
color: var(--grey);
text-transform: uppercase;
font-size: var(--small-text);
}

.hidden .page-number {-webkit-text-fill-color: var(--grey)}

#images-column, #selection-indicator {
    line-height: 1.4em;
    font-family: source-code-pro;
}

/* .note {
  height: var(--large-text);
  width: var(--large-text);
  border-radius: 50%;
  display: inline-block;
  vertical-align:top;
  background-color: black;
  text-align: center;
    font-family: source-code-pro;
  color: var(--grey);
  text-transform: uppercase;
  font-size: var(--small-text);
  line-height: var(--medium-text);
  transform:translate(0, 20%);
  margin-left: calc(var(--margin)/2);
  cursor: pointer;
} */

.note {
  display: inline-block;
  vertical-align:top;
  text-align: center;
  font-family: source-code-pro;
  font-size: var(--small-text);
  line-height: var(--medium-text);
  transform:translate(0, 20%);
  /* margin-left: calc(var(--margin)/2); */
  cursor: pointer;
}

.corner-sfumato {
  position: absolute;
  width: 10%;
  top: 0; right: 0; bottom: 0;
  background: linear-gradient(90deg, rgba(248, 248, 248, 0) 0%, var(--white) 70%);
}
